.hero-bar{
    margin: 80px 40px;
    background: #0567FA;
    border-radius: 20px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 580px;
    position: relative;
}
.hero-bar h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 0%;
    color: white;
    max-width: 1098px;
    text-transform: uppercase;
}
.hero-bar button{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 13px 40px;
    color: white;
    background: #333333;
    border-radius: 30px;
    width: 162px;
    border: none;
}
.hero-bar img{
    position: absolute;
    bottom: 0;
    right: 120px;
}


@media(max-width: 800px){
    .hero-bar{
        margin: 60px 20px 40px;
        padding: 40px;
    }
    .hero-bar h1{
        font-size: 64px;
        line-height: 68px;
        max-width: 612px;
    }
    .hero-bar img{
        bottom: 0;
        right: 0px;
    }
}
@media(max-width: 360px){
    .hero-bar{
        padding: 20px;
    }
    .hero-bar h1{
        font-size: 32px;
        line-height: 40px;
        max-width: 300px;
    }
    .hero-bar button{
        width: 280px;
    }
    .hero-bar img{
        bottom: 68px;
        height: 238px;
        right: -20px;
    }
}